{% import _self as utilities %}

{% set scenarios = scenarios|default([])|merge({"Live":{}}) %}
{% set componentId = random() %}

<div id="component-{{ componentId }}" class="component panel panel-default">
	<div class="panel-heading">
		{% set basePath = su.request.path|split( "?" )|first %}
		
		<button class="reset">Reset</button>
		
		<h3 class="panel-title"><a href="{{ basePath }}?filter={{ partial|url_encode }}">{{ partial }}</a></h3>
		
		{% if scenarios|length > 1 %}
		<ul class="nav nav-pills" role="tablist">
			{% for name, scenario in scenarios %}
				<li role="presentation"{% if loop.first %} class="active"{% endif %}><a href="#tab-{{ componentId }}-{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab" data-toggle="tab">{{ name }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	
	<div class="panel-body">
		<div class="tab-content">
			{% for scenario in scenarios %}
				<div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="tab-{{ componentId }}-{{ loop.index }}">
					{% set iframeId = "iframe_#{componentId}_#{loop.index}" %}
					
					<div class="component-iframe" data-iframe-id="{{ iframeId }}">
						<div class="output" style="display:none;">{% include partial with scenario|default( {} ) %}</div>
						
						<div class="iframe" id="{{ iframeId }}" src="admin/theme/view/dev/view.html"></div>
						
						<script>
							var {{ iframeId }} = new pym.Parent( '{{ iframeId }}', 'admin/theme/view/dev/view.html', {} ),
								component = jQuery( "[data-iframe-id='{{ iframeId }}']" ),
								output{{ iframeId }} = component.find( '.output' ).html(),
								iframe = component.find( 'iframe' );

							iframe.on('load', function () {
								var contents = jQuery( this ).contents();
								contents.find( 'body' ).append( output{{ iframeId }} );
							});
						</script>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="panel-footer">
		<pre><code>{% spaceless %}
			{{ "{% include \"#{partial}\"" }}{{ (params) ? " with {" }}{% for p in params %}{{ "\r\n  \"#{p}\": #{p}" }}{{ (not loop.last) ? ", " : "\r\n" }}{% endfor %}{{ (params) ? "} " }}{{ "%}" }}
		{% endspaceless %}</code></pre>
	</div>
</div>