{# accepts partial, scenarios, params #}

{% embed "dev/pattern.html" with {
	name: partial,
	isRefreshable: true
} %}
	{% block scenarios %}
		{% for name, scenario in scenarios %}
			{% include "dev/scenario-include.html" with {
				name: name,
				partial: partial,
				scenario: scenario
			} %}
		{% endfor %}
		
		{% include "dev/scenario-include.html" with {
			name: "Unconfigured",
			partial: partial
		} %}
	{% endblock %}
	
	{% block usage %}{% spaceless %}
		{{ "{% include \"#{name}\"" }}{{ ( params ) ? " with {" }}{% for p in params %}{{ "\r\n  \"#{p}\": #{p}" }}{{ ( not loop.last ) ? ", " : "\r\n" }}{% endfor %}{{ ( params ) ? "} " }}{{ " %}" }}
	{% endspaceless %}{% endblock %}
{% endembed %}