{% extends base_layout %}

{% block theme_head %}
	{{ parent() }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ su.theme.less('../dev/styleguide-backend.less') }}
{% endblock %}

{% block theme_body %}
	<body class="styleguide su_bootstrap_safe">
	
	<div class="styleguide">
		<nav class="navbar navbar-default navbar-fixed-top">
			<form class="navbar-form navbar-left" role="search" method="GET">
				<div class="form-group">
					<input class="form-control" placeholder="Filter" name="filter"
							value="{{ su.request.query.filter }}" autofocus>
				</div>
				<button class="btn btn-default">Submit</button>
			</form>
			<div class="navbar-form navbar-right">
				<a class="btn btn-default" href="{{ su.request.path }}">Refresh</a>
				<a class="btn btn-default" href="{{ su.request.path|split( "?" )|first }}">Clear Filter</a>
			</div>
		</nav>
		
		{% include "dev/global-patterns.html" %}
		
		{% block content endblock %}
	</div>
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ su.theme.asset( "../dev/highlight/styles/agate.css" ) }}">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ su.theme.asset( "../dev/highlight/highlight.pack.js" ) }}"></script>
	<script>

		function resizeIframe( iframe ) {
			$( iframe ).height( $( iframe ).contents().find("body").height() );
		}
		
		function resizeComponentIframes( component ) {
			$(component).find( "iframe" ).each( function() {
				resizeIframe( this );
			} );
		}

		function resizeAllIframes() {
			$( ".component iframe" ).each( function() {
				resizeIframe( this );
			} );
		}
		
		jQuery( ".component" ).resizable({
			resize: function ( event, ui ) {
				ui.element.addClass( "resized" );
			},
			start: function ( event, ui ) {
				$( '<div class="ui-resizable-iframe-fix"></div>' )
					.css({
						width: "100vw", height: "100vh",
						position: "absolute", zIndex: 1000
					})
					.css( $( this ).offset() )
					.appendTo( "body" );
			},
			stop: function ( event, ui ) {
				$( "div.ui-resizable-iframe-fix" ).remove();
			}
		});

		jQuery( ".component .reset" ).click(function () {
			var component = $( this ).closest(".component");
			component.removeAttr( "style" ).removeClass( "resized" );
		});

		hljs.initHighlightingOnLoad();
		
		jQuery( "iframe" ).on("load", function() {
			resizeIframe(this);
		});
		
		jQuery( ".nav-pills a" ).on("click", function() {
			var component = $( this ).closest(".component");
			setTimeout( function() {
				resizeComponentIframes( component );
			}, 300 );
		});

		$( window ).resize(function() {
			resizeAllIframes();
		});
	</script>
	</body>
{% endblock %}